* {
  box-sizing:border-box;
}

body {
    @font-face {
        font-family: DINPro-Bold tr.ttf;
        src: url(DINPro-Bold tr.ttf);
    }
}


body {
     
  background-image: url("./photo_image_background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
    }



  .all-content{
      height: calc(100vh - -2279px);
      background: url("./home_page_bez_slika.png");
      background-repeat: no-repeat;
      background-size: 100%;      
  }



  .kopche-najava {
      font-family: DINPro-Bold;
    bottom:140px;
     left: 70%;
   font-size: 32px;
      color: white;
      position: relative;
      font-weight: bold;
    
  }
  .kopche-najava:hover{
      color:#4DA3B4 ;
      text-decoration: none;
  }

  .kopche-registracija{
      font-family: DINPro-Bold;
      left: 73%;
      bottom: 140px;
    position: relative;
    font-size: 32px;
    color: white;
    font-weight: bold;
  }

  .kopche-registracija:hover {
      color: #4DA3B4;
      text-decoration: none;
  }
  
  
.logo {
  position: relative;
  top: 95px;
   max-height: 180px;
   margin-left: 10px;
}

.search {
    position: relative;
    top: 200px;
  color: white;
  padding: 10px;
 width: 910px;
  height: 340px;
  left: 20%;
  border-radius: 45px;
  font-size: 25px;
  background:rgba(1,1,1,0.3);


}

.btn-secondar{
  font-family: DINPro-Bold;
  position: relative;
 background-color: white;
 color: #AA1A75;
 font-size: 26px;
 top: 49px;
font-weight: bold;
 left: 30px;
 width: 360px;
 border-radius: 18px;
 box-shadow: 5px 10px 8px #888888;

}
.btn-secondar:hover {
    color: #4DA3B4;
}


.btn-secondary-2{
  font-family: DINPro-Bold;
  position: relative;
 background-color: white;
 color: #AA1A75;
 font-size: 26px;
 top: 0px;
 font-weight: bold;
 left: 490px;
 width: 360px;
 border-radius: 18px;
 box-shadow: 5px 10px 8px #888888;
}
.btn-secondary-2:hover {
    color: #4DA3B4;

}
.dropdown2 > .dropdown-menu {
position: relative;
margin-left: 7%;
box-shadow: 5px 10px 8px #888888;


}

.dropdown > .dropdown-menu{
position: relative;
box-shadow: 5px 10px 8px #888888;

}


.dropdown-item {
  font-family: DINPro-Bold;
  font-weight: bold;
  color: #AA1A75;
  font-size: 20px;
  
}

.dropdown-item:hover{
    color: #4DA3B4;
}
.text-insearchbox{
  font-family: DINPro-Bold;
  font-weight: bold;
  margin-top: 20px;
  position: relative;
  left: 149px;
  font-size: 54px;
}

.btn-light-search{
font-family: DINPro-Bold ;
font-weight: bolder;
position: relative;
top: 35px;
height: 55px;
width: 199px;
color: #AA1A75;
font-size: 30px;
 left:37%;
border-radius: 18px;
box-shadow: 5px 10px 8px #888888;
background-color: white;

}

.btn-light-search:hover {
    color: #4DA3B4;
}

#Layer_1 {
  top: 510px;
  position: relative;
  height: 190px;
  width: 230px;
  padding: 25px;
  left: 60px;

  
}

.imageinhouse {
  position: relative;
  width: 112%;
  height: 102%;
}



.card-name {
  font-family: DINPro-Bold ;
  position: relative;
color: black;
top: 468px;
font-weight: bold;
font-size: 18px;
padding: 40px;
display: -webkit-inline-flex;
left: 43px;

}

.slogan {
  font-family: DINPro-Bold;
  font-weight: bold;
position: relative;
font-size: 60px;
margin-left: 500px;
top: -210px;
}

.slogan1 {
  font-family: DINPro-Bold ;
  font-weight: bold;
  position: relative;
font-size: 54px;
top: -310px;
color: #4DA3B4;
margin-left: 680px;
}

 
.cards-columns {
  position: relative;
  top: 880px;
  float: left;
  width: 45%;
  padding: 0 7px;
  }
  
  .card-rows:after {
  content: "";
  display: table;
  clear: both;
  } 
  
  
  .info-cards {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
      position: relative;
      font-family: DINPro-Bold;
     font-weight: bold;
      margin-left: 145px;
      padding: 80px;
      text-align: left;
      color:  rgb(0, 195, 255);
      background-color: white;
      opacity: 0.6;
      border-radius: 8%;
      box-shadow: 5px 10px 8px #888888;
  
  }
  
 

  .card-title {
      font-family: DINPro-Bold;
      padding-top: 59px;
      font-size: 33px;
      left: -4px;
      position: relative;
      color: #4DA3B4;
      margin-left: 134px;
      font-weight: bold;
  }
  
  
.btn-dark-1-registration {
  font-family: DINPro-Bold;
  position: relative;
background: white;
color: #AA1A75;
top: 630px;
left: 37%;
font-size: 30px;
font-weight: bold;
border-radius: 18px;
box-shadow: 5px 10px 8px #888888;  
}

.btn-dark-1-registration:hover {
    color: #4DA3B4;
}


.footer-text {
  font-family: DINPro-Bold ;
  position: relative;
  top: 975px;
  font-weight: bold;
font-size: 18px;
margin-left: 150px;
color: white;
}

.footer-text-1 {
  font-family: DINPro-Bold;
  font-weight: bold;
  position: relative;
  top: 899px;
font-size: 20px;
margin-left: 1250px;
color:white;
}

.footer-text-2 {
  font-family: DINPro-Bold;
  position: relative;
top: 905px;
font-size: 20px;
margin-left: 1100px;
color: white;
font-weight: bold;
}

.instagram {
position: relative;
top: 980px;
height: 50px;
left: 140px;
color: #4DA3B4;
background-color: #4DA3B4;
border-radius: 50%;
}

.facebook {
position: relative;
top: 980px;
background-color:#4DA3B4;
height: 50px;
left: 160px;
border-radius: 50%;
}
